<% content_for :page_title, "Todos Dashboard" %>
<% content_for :previous_path, dashboard_path %>

<div id="main-menu">
    <div class="row">
        <div class="eightcol">
            <div class="menu-items">
                <%= link_to manager_todos_path, :class => 'access' do %>
                    <%= image_tag 'view.png' %>
                    <span>Access</span>
                <% end %>
                <%= link_to manager_reports_todos_root_path, :class => 'report' do %>
                    <%= image_tag 'report.png' %>
                    <span>Report</span>
                <% end %>
                </a>
            </div>
        </div>
        <div class="fourcol last">
        </div>
    </div>
</div>