.form-group
  %label.step-instruction= t('illnesses.labels.worker_name')

  = select_tag 'worker[id]', options_from_collection_for_select(@workers, 'id', 'name'), class: 'form-control', prompt: t('illnesses.labels.select_worker')
