footer {
  padding: 40px 0;
  background: black;
  color: white;
  max-width: none;
  margin-top: 30px;

  a {
    color: white !important;
  }

  ul {
    li {
      list-style-type: none;
      padding: 5px 0;
      font-size: small;
    }
  }

  .left-footer {

  }

  .central-footer {
    text-align: center;

    img {
      margin: 10px;
      height: 120px;
    }
  }

  .right-footer {
    padding-left: 10px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 767px) {
    .left-footer, .right-footer {
      text-align: center;
    }
  }
}
