- width = 12 / step_size

.row.multi-step-form
  - (1..step_size).each do |form_step|
    .form-step{class: "col-md-#{width} " + progress_bar_step(page_step, form_step)}
      .progress-bar-step.text-center
        - if page_step > form_step
          .btn.btn-fab.btn-fab-mini.btn-success
            %i.material-icons grade
        - else
          %button.btn.btn-fab.btn-fab-mini
            = form_step

      .progress
        .progress-bar
