<div class="legacy-path">
  <div class="container">
    <div class="row promo">
      <div class="promo-img">
        <%= image_tag 'Dollarphotoclub74523.png' %>
        <div class="img-text image-text-path">
          <h2>Committed to healthier <br>and safer childcare facilities</h2>
          <p>As a uniting force in the childcare industry, <br> the Healthier and Safer Childcare Alliance
            <br>seeks to assist facility operators in provinding<br> a safe and healthy environment for the children under their care.</p>
        </div>
      </div>
    </div> 
  </div>
  

  <div class="container" id="path-content">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 about-content">
          <h1>A passion for childcare health and safety</h1>
      </div>
    </div>

    <div class="row second-row">
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 left_line-last"><hr class="about-dash"></div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8" id="center"><h3>About the Founder</h3></div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 left_line-last"><hr class="about-dash"></div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="first-step">
          <p>
            HSCA was founded by Tareq Gholam, whose passion for healthcare came from his mother and whose personal ovservations led him to realize that stronger and more holistic infection-preventive care standards in the industry were required. He set out to turn those observations and ideas into reality.<br>
          </p>
          <h3>"The Best That Can Be Done"</h3>
          <p>
            Searching for a better life for herself, her children and her parents back in Bangladesh , Tareq's mother brought him and his younger brother to Norway, where she was the sole provide. She worked night and day and struggled to pay her bills. She often took Tareq with her to cleaning jobs, where he saw her work with pride and purpose.<br>
            Inspired by his Mom, Treq says, "She's had a tough life, because she came to Norway alone. But she always put her heart into her work. Her value was: "Any job you do is going to have your fingerprints all over it. That is why it is so important to take ownership of your job, any job you do, and really own it. Do it the best you can; do the best that can be done."
            Later, Tareq entered the field of providing hygenie service to daycare facilities and carrying on his mother's tradition of hard work and high standards.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <h3>One Day, Tareq Noticed a Serious Problem</h3>
          <p>
            During the swine flu epidemic, clients wanted to know how to protect their faclities from his dangerous illness. Many of his suppliers advised him that staff at these facilities should wash their hands and disinfect surfaces more frequently.This led hime to wonder whether one improperly washed hand wouldn't keep spreading infectious germs? And if one keeps disinfecting, wouldn't it need to be done all day long?<br>
            This scenario would e a costly one for childcare facilities who already have tight budgets.Disinfecrants are expensive, and the time spent disinfecting all day would inevitably take childcare worker away form attending to the children under thier care.The suggestion to disinfect more often was completely impractical.<br>
            Besides , constantly disinfecting surfaces would increase the by-product and chemicals left behind, exposing small children to harsh chemicals - the last thing anyone needs. Tareq had a lot of questions but not enough answers. This made him feel udeucated and embarrassed. Here was a hygenie professional who was supposed to have all the answers about infection-prevention. Yet he could give no credible answer.
            We offer a free 14-day trial risk assessment evaluation. This line of action will allow you as a childcare manager, to discover your staff`s level of competency in the six core areas of infection control.  This way, you will be in a better position to upgrade and have access to the full program. In this case, your childcare staff will now get access to the second and third step of the program.
          </p>
        </div>
      </div>

    </div>

    <div class="row dash3_line">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><hr class="dash3"></div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="first-step">
          
          <h3>"The Quest For A Solution"</h3>
          <p>
            Tareq made the most important decsion of his professional career.His mother had taught him to take ownership, so he did. He concentrated his full energy on infection control, which included in-depth research<br>
            Tareq discovered the most childcare issues were being adressed in journals that were only read within the specific community. He therefore committed himself to making these findings more accessible to those in the chilcare community, believing that they needed to better understand the science of disease and infection-prevention in childcare settings.
            <br>
            He also discovered that the risk of infection went far beyond the swine flu epidemic, and that children in daycare are 300 percent more vulnerable to illnesses than children cared for at home.Although, in the majority of cases, infections resolve themselves without afeecting later development, the consequences of increased exposure are not so simple. 
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="third-step-description">
          <h3>The Harsh Reality</h3>
          <p>
            For example, respiratory infections like pneumonia, which are not so easily beaten, although the symptome may abate at times, are the principal cause of death among children under 5 years old, worldwide.<br>
            Tareq also found out that ear infections, even whe treated correctly in children under 3 years old, can have adverse consequences, including reduced performance at reading comprehension and/or comprmised congnitive ability in the future.<br>
            In addition, children who attend daycare also have an increased risk of being hospitalized with a rotavirus infection due to unsanitary diapering conditions.Rotavirus are responsible for 20 to 60 oercent of hospital admissions of children.Varicella, which causes chikenpox and shingles, that are traditionally considered benign, can develop complications that result in hospitalization and death.
            <br>
            Children are meant to be kept in safe environments that are conducive to health and learning.In today's terminology, this defines daycare environments: places were children can be open to learning without also being open to illness.
          </p>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="row">
          <div class="col-lg-2">
            <%= image_tag 'Womanavatardesignedb.png' %>
          </div>
          <div class="col-lg-10 nested">
            <h3>Daycare Workers Are <br> At Serious Risk Too </h3>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p>
                Tareq also discovered that even daycare workers are not spared. Working in childcare centers involves significant occupational risk for workers, especially when the risk concerns infection. He found out that illness passed around in daycare centers can be especially damaging to the predominantly female daycare workers many of whom are in the childbearing years.
                <br>During pregnancy, the body's immune system is slightly weakend, increasing one's risk of becoming very sick if infected with the flu. Influenza and its complications have been shown to increase the risk of premature birth and malformations. Given these risks, no preventive measures - however small - must be overlooked.
                <br>The sad irony for childcare workers who become ill due to a lack of hygenic practices at work is that, while caring for the children of others, they put their own unborn children at risk if they fall pregnant. Most childcare workers are women of childbearing age.
                In one study, conducted during flu season, 50% of the surface areas in a typical daycare facility were contaminated with the flu virus. The degree of contaminations in your facility may vary. But hte risk of infection remains a major concern.
              </p>
            </div>
          </div>
          
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="row">
          <div class="col-lg-2">
            <%= image_tag 'Familyofthreedesigne.png' %>
          </div>
          <div class="col-lg-10 nested">
            <h3>Daycare Workers Are <br> At Serious Risk Too </h3>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p class="right_p">
                Tareq also discovered that the amplified infection rates associated with daycare centers have economic implicaitons for both the family and the nation. A rise in disease results in an increase in the use of health care services and increased family spending on medical care and medications. Repeated illness can cause parents to learn less and even lose their jobs due to frequent absences.
                <br>The primary reason parents put their children in daycare is so that they are in safe environment while Mom or Dad are away at work. it is critical that daycares meet this basic need well. When children contract illnesses, the daycare not only puts them at risk, but also the parents, who can become infected beacuse of the child. This defeats the entire purpose of daycare, as not only were the children not kept safe, but the parents are also not able to work if the child is at home sick.
                <br>Infection preventive training also gives your daycare a clear performance path for your employees, enabling them to make infection preventive choices which are intrinsically linked with a healthier childcare environment.
              </p>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>

    <div class="row second-row">
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 left_line-last"><hr class="about-dash"></div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8" id="center"><h3>Call to Action</h3></div>
      <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 left_line-last"><hr class="about-dash"></div>
    </div>

    <div class="row" id="last">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-left-content">
        <div class="third-step">
          <p>
            <b>Now that you have learned about the three components, read on to discover the six core modules of the Accreditation Program.</b>
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 path-right-content">
        <div class="start-journey">
          <div class="journey-next">
            <p>Assess and evaluate your staffs compitency  in  infection prevention.</p>
            <h2>
              Start your Journey
              <%= link_to getting_started_path do %>
                <i class="fa fa-angle-right"></i>
              <% end %>
            </h2>
            <p>and get complimentary access here</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

