.legacy-header
{
    .page-title 
    {
        font-size: 26px;
        color: #fff;
        font-family: 'HelveticaNeue-LightCond';
        width: 90%;
        text-align: center;
        float: left;
    }

    .btn-back
    {
        width: 3%;
        float: left;
    }

    .menu_icons
    {
        width: 3%;
    }
}