.legacy-standard
{
    .promo{}
.promo-img{}
.promo-img img {
    margin-left: -15px;
width:100%;}
.promo-img img{}
.img-text{
    position: absolute;
    top: 35%;
    padding: 40px;
    width: 65%;
    font-size: 40px;
    
    font-family: 'Open Sans'; font-weight: 400; 
}
.img-text h2{ 
    font-size: 40px;
    margin-bottom: 50px;
}

#page-menu li:hover a{
    background: none;
    border-bottom:none;
     color:#426cd5;
}
#page-menu {}
#page-menu  li{}
#page-menu  li.active a{color:#426cd5;font-weight: normal}
#page-menu li a {background: none;color:#dfdfdf;font-size:22px;}
 #page-menu .fa-angle-down {
   color: #fff;
    background: #426cd5;
    padding: 7px;
    border-radius: 50%;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 27px;

}
#page-menu .fa-angle-right{
     color: #fff;
    background: #426cd5;
    padding: 7px;
    border-radius: 50%;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 27px;

}
.page-heading{

}
.page-heading h2{
    font-size: 50px;
    font-family: open-sans;
    color:#365ebf;
    text-align: center
}
.page-discription{}
.page-discription p{
    font-size:26px;
    text-align: center;
    margin-bottom: 100px
}
.page-description-list{}
.listed-thumb{padding-left: 40px;    margin-top: 42px;}
.list-description{position: relative;margin-bottom: 70px;margin-top: 70px}
.list-description :before {    
    position: absolute;
    content: "";
    width: 2PX;
    height: 100%;
    color: red;
    left: 0;
    top: 0;
    background: #365ebf;
}
.list-description h2{   
     margin-left: 40px;
    font-family: open-sans;
    font-size: 35px;}

.list-description p{font-size: 20px;margin-left: 40px}

#get-start-free{    
    padding: 5px 50px;
    background: #365ebf;
    color: #fff;}
#get-start-free h2{font-size:27px;}
#get-start-free p{font-size:20px;font-family: open-sans}
.start-free span{     
    
}
#bg{background: image-url('bg.png') no-repeat center ;padding: 20px}
.get-start{}
.start-free i{  margin-left: 70px;font-size:40px;  }
.start-free a{color:#fff;}
}