<div id="legacy-result">
    <div class="container">
      <div class="row back-page">
            <div class="col-lg-push-1 col-md-push-1 col-md-9 col-sm-9 col-xs-12 logo-back margin_single">
                <%= render 'subjects' %>
                <div id="progress_charts_partial" class="wrap">
                  <%= render partial: 'progress_charts', locals: { trend: @trend } %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart']});
</script>
