/*
 *= require icomoon-bower
 *= require jquery.datetimepicker
 *= require slick-carousel/slick/slick.css
 *= require slick-carousel/slick/slick-theme.css
*/
@import "compass/css3";

$blue: #00aff1;
$purple: #ab8bff;
$green: #8DC73F;
$orange: #F7941D;
$yellow: #ffd700;
$cyan: #9bebff;
$grey: #d5d5de;
$dark-grey: #2f363d;
$light-grey: #d0d0d0;
$red: #CD2626;
$flamingo: #F05C52;
$header-blue: #296BD1;
$twitter-blue: #3bafda;

@import "dashboard/base";
@import "dashboard/1100";
@import "dashboard/form";
@import "dashboard/buttons";
@import "dashboard/alert";
@import "dashboard/header";
@import "dashboard/menu-items";
@import "dashboard/todos";
@import "dashboard/registration";
@import "dashboard/surveys";
@import "dashboard/notifications";