@media handheld, only screen and (max-width: 767px) 
{
    body
    {
        header
        {
            #countdown
            {
                display: none;
            }
        }
        footer
        {
            padding:50px 0;
            
            .threecol
            {
                text-align: center;
            }
            ul
            {
                padding:0;
            }
            .fourcol
            {
                padding:50px 0;
            }
        }
    }
}